<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bienvenue Au Hanami Sushi Bar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="container">
            <button type="button" class="btn btn-info btn-lg">HANAMI SUSHI BAR</button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">153 Quai George V 76600 LE HAVRE</button>
                <button type="button" class="btn btn-info">02 35 42 39 33</button>
            </div>
            <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#panier">Votre Panier</button>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="fixed-bottom bg-info">
            <p class="text-center">&copy; @DateTime.Now.Year - Hanami Sushi Bar - Un Site proposé par la Manu.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
