@model IEnumerable<hanami.Models.product>
@{
    ViewBag.Title = "Menu";
}
<h1 class="btn-info text-center desc">Bienvenue Au Hanami Sushi Bar !</h1>
<hr />
<img src="~/img/back.jpg" class="center-block desc" alt="hamami">
<hr />
<h2 class="btn-primary text-center desc">
Hanami Sushi Bar vous accueille dans son petit restaurant pour y savourer des spécialités japonaises comme les sushis d'une extrême fraîcheur.
</h2>
<h3 class="btn-info text-center desc">Découvrez nos produits ci-dessous dans chaque catégorie</h3>
<hr />
<div class="container center-block">
    @* Sushi Menu *@
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#sushi">Sushi</button>
    <div id="sushi" class="collapse">
        <table class="table" id="sushies">
            <tr>
                <th hidden>Catégorie</th>
                <th>Nom</th>
                <th>Illustration</th>
                <th>Description</th>
                <th>Prix (&euro;)</th>
                <th hidden>Quantité</th>
                <th hidden>Référence</th>
            </tr>
            @foreach (var item in Model.Where(x => x.category.name_category == "Sushi"))
            {
                <tr id="rowToClone">
                    <td hidden>@Html.DisplayFor(modelItem => item.category.name_category)</td>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td><img src="@Url.Content(item.url_image)" /></td>
                    <td>@Html.DisplayFor(modelItem => item.description)</td>
                    <td>@Html.DisplayFor(modelItem => item.price)</td>
                    <td hidden><input type="number" name="quantity" min="1" max="50" /></td>
                    <td hidden>@Html.DisplayFor(modelItem => item.reference)</td>
                    <td><input type="button" value="Commander / Ajouter au panier" onclick="order_sushies(this)" /></td>
                </tr>
            }
        </table>
    </div>
    @* Maki Menu *@
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#maki">Maki</button>
    <div id="maki" class="collapse">
        <table class="table" id="makies">
            <tr>
                <th hidden>Catégorie</th>
                <th>Nom</th>
                <th>Illustration</th>
                <th>Description</th>
                <th>Prix (&euro;)</th>
                <th hidden>Quantité</th>
                <th hidden>Référence</th>
            </tr>

            @foreach (var item in Model.Where(x => x.category.name_category == "Maki"))
            {
                <tr id="rowToClone">
                    <td hidden>@Html.DisplayFor(modelItem => item.category.name_category)</td>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td><img src="@Url.Content(item.url_image)" /></td>
                    <td>@Html.DisplayFor(modelItem => item.description)</td>
                    <td>@Html.DisplayFor(modelItem => item.price)</td>
                    <td hidden><input type="number" name="quantity" min="1" max="50" /></td>
                    <td hidden>@Html.DisplayFor(modelItem => item.reference)</td>
                    <td><input type="button" value="Commander / Ajouter au panier" onclick="order_makies(this)" /></td>
                </tr>
            }
        </table>
    </div>
    @* Sashimi Menu *@
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#sashimi">Sashimi</button>
    <div id="sashimi" class="collapse">
        <table class="table" id="sashimies">
            <tr>
                <th hidden>Catégorie</th>
                <th>Nom</th>
                <th>Illustration</th>
                <th>Description</th>
                <th>Prix (&euro;)</th>
                <th hidden>Quantité</th>
                <th hidden>Référence</th>
            </tr>
            @foreach (var item in Model.Where(x => x.category.name_category == "Sashimi"))
            {
                <tr id="rowToClone">
                    <td hidden>@Html.DisplayFor(modelItem => item.category.name_category)</td>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td><img src="@Url.Content(item.url_image)" /></td>
                    <td>@Html.DisplayFor(modelItem => item.description)</td>
                    <td>@Html.DisplayFor(modelItem => item.price)</td>
                    <td hidden><input type="number" name="quantity" min="1" max="50" /></td>
                    <td hidden>@Html.DisplayFor(modelItem => item.reference)</td>
                    <td><input type="button" value="Commander / Ajouter au panier" onclick="order_sashimies(this)" /></td>
                </tr>
            }
        </table>
    </div>
    @* Brochettes Menu *@
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#brochettes">Brochettes</button>
    <div id="brochettes" class="collapse">
        <table class="table" id="brokettes">
            <tr>
                <th hidden>Catégorie</th>
                <th>Nom</th>
                <th>Illustration</th>
                <th>Description</th>
                <th>Prix (&euro;)</th>
                <th hidden>Quantité</th>
                <th hidden>Référence</th>
            </tr>
            @foreach (var item in Model.Where(x => x.category.name_category == "Brochettes"))
            {
                <tr id="rowToClone">
                    <td hidden>@Html.DisplayFor(modelItem => item.category.name_category)</td>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td><img src="@Url.Content(item.url_image)" /></td>
                    <td>@Html.DisplayFor(modelItem => item.description)</td>
                    <td>@Html.DisplayFor(modelItem => item.price)</td>
                    <td hidden><input type="number" name="quantity" min="1" max="50" /></td>
                    <td hidden>@Html.DisplayFor(modelItem => item.reference)</td>
                    <td><input type="button" value="Commander / Ajouter au panier" onclick="order_brochettes(this)" /></td>
                </tr>
            }
        </table>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#panier">
        Votre Panier
    </button>
</div>
<!-- Modal Pour Le Panier -->
<div class="modal fade" id="panier" tabindex="-1" role="dialog" aria-labelledby="modalLab" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title text-center" id="modalLab">Récapitulatif de votre commande</h1>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <div class="modal-body">
                <table class="table" id="orders">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Référence</th>
                            <th>Quantité</th>
                            <th></th>
                            <th></th>
                            <th>Prix</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td hidden>product name</td>
                            <td hidden>product ref</td>
                            <td hidden><input type="number" name="quantity" min="1" max="50" /></td>
                            <td></td>
                            <td></td>
                            <td hidden>product price</td>
                            <td hidden><button type="button">retirer produit</button></td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <div id="invoice" class="text-center"></div>
            </div>
            <div class="modal-footer bg-primary">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                <button type="button" class="btn btn-info" onclick="total()">Actualiser Panier</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/script.js"></script>